<!doctype html>
<html>
    <head>
        <title>URL Shortener</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style/style.css">
    </head>

    <body>
        <main>
            <div class="content">
                <h1 id="message" class="message">Enter a long URL to shorten it!</h1>
                <input type="text" class="input-text form-control">
                <div class="input-buttons"></div>
                <div class="hits-header">
                    <span class="hits-label">Top 10 Hits</span>
                </div>
                <div class="hits-content"></div>
            </div>
        </main>

        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="javascript/app.js"></script>
    </body>
</html>
