<!doctype html>
<html>
    <head>
        <title>Rock, Paper, Scissors, Spock, Lizard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/reset.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style/style.css">
    </head>

    <body>
        <main>
            <div class="content">
                <div class="result-container">
                    <textarea class="result form-control"></textarea>
                </div>
                <div class="actions">
                    <input name="action" class="rdo-action" type="radio" value="rock">
                    <label class="action-label">Rock</label>
                    <input name="action" class="rdo-action" type="radio" value="paper">
                    <label class="action-label">Paper</label>
                    <input name="action" class="rdo-action" type="radio" value="scissors">
                    <label class="action-label">Scissors</label>
                    <input name="action" class="rdo-action" type="radio" value="spock">
                    <label class="action-label">Spock</label>
                    <input name="action" class="rdo-action" type="radio" value="lizard">
                    <label class="action-label">Lizard</label>
                </div>
                <div class="input-buttons"></div>
            </div>
        </main>

        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="javascript/app.js"></script>
    </body>
</html>
